.navbar3 {
  height: 10vh;
  width: 100%;
  background-color: #343a40;
  overflow: hidden;
  z-index: 56;
}

.navbar3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name2 {
  padding: 0 0 0 2rem;
}
.nav-list3 {
  display: flex;
  width: 45% !important;
  justify-content: space-between;
  padding: 2rem 3rem 2rem 2rem;
}

.nav-link3 {
  font-size: 2rem;
  color: white;
  margin-right: 3rem;
}

.blue3 {
  color: #6c63ff;
}

.nav-link3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.nav-link3:hover {
  color: #6c63ff;
}
