.section-3 {
  background-color: green;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.navbar-expand-lg {
  height: 10vh;
  width: 100%;
}
.main-div {
  display: flex;
  flex-direction: column;

  margin-top: 10vh;
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
label {
  font-weight: bold;
  margin-top: 5px;
  margin-left: 0px;
}
.date1 {
  font-weight: bold;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 720px;
}
.first-row input {
  margin-right: 10px;
}
input {
  width: 90%;
  margin-top: 10px;
  outline: none;
  padding: 4px;
  border-radius: 3px;
  border: none;
}

textarea {
  margin-top: 10px;
  width: 90%;
  min-height: 140px;
  outline: none;
}

.btn {
  width: 30%;
  border: none;
  color: white;
  background-color: #0652dd;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.form-control {
  width: 90%;
  margin-top: 10px;
  outline: none;
  padding: 6px;
  border-radius: 3px;
  border: none;
}
